In [1]:
import glob
import os
import re
import sqlite3
import time
from typing import Any, Dict, List, Optional

import openai
from openai.error import Timeout as OpenAITimeout
import pandas as pd
from pandas.io.sql import DatabaseError  # type: ignore
from requests.exceptions import Timeout as RequestsTimeout
import sqlglot
from sqlglot import expressions, Expression
import tiktoken


SET = "bird-data-train"
JSON_FILE = "./" + SET + "/train.json"
DB_DIR = "./" + SET + "/train_databases"

In [2]:
encoding = tiktoken.get_encoding("cl100k_base")

# not exact!
# simplified from https://github.com/openai/openai-cookbook/blob/main/examples/How_to_count_tokens_with_tiktoken.ipynb
def num_tokens_from_messages(messages, tokens_per_message=3, tokens_per_name=1):
    num_tokens = 0
    for message in messages:
        num_tokens += tokens_per_message
        for key, value in message.items():
            num_tokens += len(encoding.encode(value))
            if key == "name":
                num_tokens += tokens_per_name
    num_tokens += 3
    return num_tokens

In [3]:
def compute_tokens(row):
    msgs = [{"role": "user", "content": row['user_prompt']}]
    return num_tokens_from_messages(msgs)

def get_create_table_and_data(db_path: str, num_rows: int = 5) -> str:
    MAX_TOKENS = 3550 # The limit required so OpenAI doesn't complain after we reformat
    while num_rows >= 0:
        # Connect to the database
        conn = sqlite3.connect(db_path, timeout=30)
        cursor = conn.cursor()

        # Query the sqlite_master table to get the CREATE TABLE statements
        cursor.execute(
            "SELECT name, sql FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'"
        )
        tables = cursor.fetchall()

        output_statements = []

        for table_name, create_statement in tables:
            # "INTEGER" -> "INT"
            create_statement = create_statement.replace("INTEGER", "INT")
            
            # remove comments
            create_statement = re.sub(r'--.*$', '', create_statement, flags=re.MULTILINE)
            create_statement = "\n".join([line for line in create_statement.split("\n") if line.strip()])

            # Condense whitespace
            create_statement = " ".join(create_statement.split())
            
            # First, add the create statement
            output_statements.append(create_statement + ";")

            # Fetch sample data
            cursor.execute(f"SELECT * FROM `{table_name}` LIMIT ?", (num_rows,))
            sample_rows = cursor.fetchall()

            # For each row, create an INSERT INTO statement
            for row in sample_rows:
                formatted_values = []
                for idx, value in enumerate(row):
                    if isinstance(value, str):
                        formatted_value = value.replace('\n', ' ')
                        formatted_value = formatted_value.replace("'", '"')
                        formatted_value = formatted_value[:100]
                        formatted_values.append(f"'{formatted_value}'")
                    elif value is None:
                        formatted_values.append("NULL")
                    else:
                        formatted_values.append(str(value))
                values_str = ",".join(formatted_values)
            
                # Check if table_name contains a space or dash and wrap it in double quotes if it does
                if ' ' in table_name or '-' in table_name:
                    formatted_table_name = f'"{table_name}"'
                else:
                    formatted_table_name = table_name

                insert_statement = f"INSERT INTO {formatted_table_name} VALUES ({values_str});"
                output_statements.append(insert_statement)

        # Close the database connection
        cursor.close()
        conn.close()

        final_statements = []
        for statement in output_statements:
            test_statements = final_statements + [statement]
            msgs = [{"role": "user", "content": "\n".join(test_statements)}]
            token_count = num_tokens_from_messages(msgs)

            if token_count < MAX_TOKENS:
                final_statements = test_statements
            else:
                break

        if num_rows == 0 or final_statements:
            return final_statements
        else:
            num_rows -= 1
    raise ValueError(f"Even with 0 rows, token count is too high!")


def clean_creates(sql_text: str) -> str:
    """While these fields might be useful for some purposes, I've honestly
    needed them so rarely as a data scientist that we are going to exclude them
    """

    def replace_(node: Expression) -> Optional[Expression]:
        if isinstance(
            node,
            (
                expressions.ColumnConstraint,
                # expressions.ForeignKey,
                expressions.PrimaryKey,
            ),
        ):
            return None
        return node
    return str(sqlglot.parse_one(sql_text).transform(replace_))


def hard_replace__clean_creates(sql_text: str):
    """The backticks and double-quotes are always equivalent in bird
    # but sqlglot cannot yet handle the backticks
    """
    try:
        return clean_creates(
            sql_text.replace("`", '"')
            .replace("WITHOUT ROWID", "")
            .replace("on update cascade","")
            .replace("ON UPDATE CASCADE","")
            .replace("on delete cascade","")
            .replace("ON DELETE CASCADE","")
            .replace("references staff","")
        )  # .sql()
    except Exception:
        print(sql_text)
        raise


def read_in_all_sqlite_dbs():
    """Read in all the sqlite databases from the bird data"""
    dirs = glob.glob(DB_DIR + "/*")
    statements = []
    for d in dirs:
        if os.path.isfile(d):
            continue
        dbname = d.split("/")[-1]
        sqlite_db_path = os.path.join(d, dbname + ".sqlite")
        assert os.path.exists(d), f"DB {d} does not exist!"
        ddl_list = get_create_table_and_data(sqlite_db_path)
        for ddl in ddl_list:
            statements.append(
                (dbname, hard_replace__clean_creates(ddl))
            )

    return statements


def make_x(tables, db_id, ideal_sql):
    """Make the x and y for the training data"""
    return tables, db_id, ideal_sql

In [4]:
ddl_statements = read_in_all_sqlite_dbs()

df_ddl = pd.DataFrame(ddl_statements)
df_ddl.columns = ["db_id", "ddl"]
df_ddl = df_ddl.groupby("db_id")["ddl"].agg(lambda x: "\n".join(x)).reset_index(name="ddl")

def format_ddl(ddl_str):
    formatted_ddls = []

    # Split the ddl_str by "CREATE TABLE"
    create_tables = re.split(r'(?i)CREATE TABLE', ddl_str)

    for ct in create_tables:
        if not ct.strip():
            continue

        # Extract table name from the current CREATE TABLE section
        table_name_match = re.search(r'^\s*("?[\w\s-]+"?|[\w\s-]+)', ct)

        # table_name = table_name_match.group(1) if table_name_match else "Unknown Table"
        table_name = table_name_match.group(1).strip() if table_name_match else "Unknown Table"

        # Split the current section at "INSERT INTO"
        splits = ct.split("INSERT INTO")

        # Extract column names and remove the table name from it
        # columns = splits[0].replace(table_name, "").strip().replace("(", "").replace(")", "")
        columns = re.sub(r'^\s*' + re.escape(table_name), '', splits[0]).strip().replace("(", "").replace(")", "")
        columns = " ".join(columns.split())

        # Process INSERT statements
        cleaned_table_name = table_name.strip("\"")
        insert_statements = [split.replace(f'{cleaned_table_name} VALUES', '').strip() for split in splits[1:]]

        # Remove parentheses from the INSERT statements
        insert_statements = [stmt.replace("(", "").replace(")", "") for stmt in insert_statements]
        
        # Combine the statements for the current table and append to formatted_ddls
        # formatted_ddl = "# Table: " + table_name + "\n" + columns + "\n" + "\n".join(insert_statements)
        if 'VARBINARY' in ct:
            formatted_ddl = table_name + " (" + columns + ");"
        else:
            formatted_ddl = table_name + " (" + columns + ");\nINSERT INTO " + table_name + " VALUES\n(" + ")\n(".join(insert_statements) +");"
        formatted_ddls.append(formatted_ddl)

    # Join all the formatted sections with newline characters
    return "\n".join(formatted_ddls)

# Apply the formatting function to the 'ddl' column
df_ddl['ddl'] = df_ddl['ddl'].apply(format_ddl)

df_question = pd.read_json(JSON_FILE)
joined_df = pd.merge(df_ddl, df_question, on=["db_id"])
joined_df.head()

,db_id,ddl,question,evidence,SQL
0,address,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",What is the total number of households in Arec...,"""ARECIBO"" is the county; total number of house...",SELECT SUM(T1.households) FROM zip_data AS T1 ...
1,address,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",Which residential area in Arecibo county has t...,"""ARECIBO"" is the county; highest average house...",SELECT T1.zip_code FROM zip_data AS T1 INNER J...
2,address,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",Please list the numbers of males in all the re...,"""ARECIBO"" is the county; number of males refer...",SELECT SUM(T1.male_population) FROM zip_data A...
3,address,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...","Among all the residential areas in Delaware, h...","""Delaware"" is a county; implement daylight sav...",SELECT COUNT(T1.zip_code) FROM zip_data AS T1 ...
4,address,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",Among all the residential areas in Arecibo cou...,"""ARECIBO"" is the county; highest white populat...",SELECT T1.zip_code FROM zip_data AS T1 INNER J...

In [5]:
print(joined_df.iloc[0]['ddl'])

CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT);
INSERT INTO CBSA VALUES
(10300, 'Adrian, MI', 'Micro')
(10380, 'Aguadilla-Isabela, PR', 'Metro')
(10420, 'Akron, OH', 'Metro')
(10500, 'Albany, GA', 'Metro')
(10580, 'Albany-Schenectady-Troy, NY', 'Metro');
state (abbreviation TEXT, name TEXT);
INSERT INTO state VALUES
('AA', 'Armed Forces Americas')
('AE', 'Armed Forces Europe')
('AK', 'Alaska')
('AL', 'Alabama')
('AP', 'Armed Forces Pacific');
congress (cognress_rep_id TEXT, first_name TEXT, last_name TEXT, CID TEXT, party TEXT, state TEXT, abbreviation TEXT, House TEXT, District INT, land_area FLOAT, FOREIGN KEY abbreviation REFERENCES state abbreviation);
INSERT INTO congress VALUES
('AK', 'Young', 'Don', 'N00008091', 'Republican', 'Alaska', 'AK', 'House of Repsentatives', NULL, 571951.26)
('AK-S1', 'Begich', 'Mark', 'N00009585', 'Democrat', 'Alaska', 'AK', 'Senate', NULL, 570641.0)
('AK-S2', 'Murkowski', 'Lisa', 'N00033101', 'Republican', 'Alaska', 'AK', 'Senate', NULL, 570641.0)
('AL-1', 'Byrne', 'Bradley', 'N00031938', 'Republican', 'Alabama', 'AL', 'House of Repsentatives', 1, 6066.83)
('AL-2', 'Roby', 'Martha', 'N00031177', 'Republican', 'Alabama', 'AL', 'House of Repsentatives', 2, 10141.63);
zip_data (zip_code INT, city TEXT, state TEXT, multi_county TEXT, type TEXT, organization TEXT, time_zone TEXT, daylight_savings TEXT, latitude FLOAT, longitude FLOAT, elevation INT, state_fips INT, county_fips INT, region TEXT, division TEXT, population_2020 INT, population_2010 INT, households INT, avg_house_value INT, avg_income_per_household INT, persons_per_household FLOAT, white_population INT, black_population INT, hispanic_population INT, asian_population INT, american_indian_population INT, hawaiian_population INT, other_population INT, male_population INT, female_population INT, median_age FLOAT, male_median_age FLOAT, female_median_age FLOAT, residential_mailboxes INT, business_mailboxes INT, total_delivery_receptacles INT, businesses INT, "1st_quarter_payroll" INT, annual_payroll INT, employees INT, water_area FLOAT, land_area FLOAT, single_family_delivery_units INT, multi_family_delivery_units INT, total_beneficiaries INT, retired_workers INT, disabled_workers INT, parents_and_widowed INT, spouses INT, children INT, over_65 INT, monthly_benefits_all INT, monthly_benefits_retired_workers INT, monthly_benefits_widowed INT, CBSA INT, FOREIGN KEY state REFERENCES state abbreviation, FOREIGN KEY CBSA REFERENCES CBSA CBSA);
INSERT INTO zip_data VALUES
(501, 'Holtsville', 'NY', 'No', 'Unique Post Office', 'I R S Service Center', 'Eastern', 'Yes', 40.817923, -73.045317, 25, 36, 103, 'Northeast', 'Middle Atlantic', 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0, 1, 1, 2, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 35620)
(544, 'Holtsville', 'NY', 'No', 'Unique Post Office', 'Irs Service Center', 'Eastern', 'Yes', 40.788827, -73.039405, 25, 36, 103, 'Northeast', 'Middle Atlantic', 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 35620)
(601, 'Adjuntas', 'PR', 'No', 'Post Office', NULL, 'Atlantic', 'No', 18.196747, -66.736735, 0, 72, 1, NULL, NULL, 11737, 18570, 6525, 86200, 13092, 2.84, 17479, 663, 18486, 7, 113, 10, 558, 9078, 9492, 35.9, 34.5, 37.1, 4133, 221, 5173, 0, 0, 0, 0, 0.309, 64.348, 2419, 1264, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 38660)
(602, 'Aguada', 'PR', 'No', 'Post Office', NULL, 'Atlantic', 'No', 18.352927, -67.177532, 0, 72, 3, NULL, NULL, 24263, 41520, 15002, 86300, 16358, 2.76, 36828, 2860, 41265, 42, 291, 32, 2634, 20396, 21124, 37.5, 36.6, 38.5, 8791, 519, 11302, 0, 0, 0, 0, 1.71, 30.621, 5473, 827, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10380)
(603, 'Aguadilla', 'PR', 'No', 'Post Office', NULL, 'Atlantic', 'No', 18.458585, -67.129867, 0, 72, 5, NULL, NULL, 40361, 54689, 21161, 122400, 16603, 2.53, 46501, 5042, 53877, 135, 313, 35, 4177, 26597, 28092, 38.2, 36.6, 39.8, 15953, 764, 19186, 0, 0, 0, 0, 0.07, 31.617, 9621, 2947, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10380);
alias (zip_code INT, alias TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);
INSERT INTO alias VALUES
(501, 'Holtsville')
(544, 'Holtsville')
(601, 'Adjuntas')
(602, 'Aguada')
(603, 'Aguadilla');
area_code (zip_code INT, area_code INT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);
INSERT INTO area_code VALUES
(501, 631)
(544, 631)
(601, 787)
(601, 939)
(602, 787);
avoid (zip_code INT, bad_alias TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);
INSERT INTO avoid VALUES
(501, 'Internal Revenue Service')
(544, 'Internal Revenue Service')
(601, 'Colinas Del Gigante')
(601, 'Jard De Adjuntas')
(601, 'URB San Joaquin');
country (zip_code INT, county TEXT, state TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code, FOREIGN KEY state REFERENCES state abbreviation);
INSERT INTO country VALUES
(501, 'SUFFOLK', 'NY')
(544, 'SUFFOLK', 'NY')
(601, 'ADJUNTAS', 'PR')
(602, 'AGUADA', 'PR')
(603, 'AGUADILLA', 'PR');
zip_congress (zip_code INT, district TEXT, FOREIGN KEY district REFERENCES congress cognress_rep_id, FOREIGN KEY zip_code REFERENCES zip_data zip_code);
INSERT INTO zip_congress VALUES
(501, 'NY-1')
(601, 'PR')
(602, 'PR')
(603, 'PR')
(604, 'PR');

In [6]:
df = pd.DataFrame(
    joined_df.apply(
        lambda x: make_x(
            x["ddl"]
            + "\n## The user has asked:\n"
            + x["question"]
            + "\nNOTE: "
            + x['evidence'],
            x["db_id"],
            x['SQL']
        ),
        axis=1,
    ).tolist()
)
df.columns = [
    "user_prompt",
    "db_id",
    "ideal_assistant_response"
]

# Drop the row that contains the example gold sql
example_gold_sql= "SELECT T1.Rating, COUNT(T2.Sentiment_Polarity) FROM playstore AS T1 INNER JOIN user_reviews AS T2 ON T1.App = T2.App WHERE T1.App = 'Dragon Ball Legends' AND CAST(Sentiment_Polarity AS INTEGER) < -0.5"
df = df[df['ideal_assistant_response'] != example_gold_sql]

df = df.drop_duplicates()

df['tokens'] = df.apply(compute_tokens, axis=1)

df.head()

,user_prompt,db_id,ideal_assistant_response,tokens
0,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",address,SELECT SUM(T1.households) FROM zip_data AS T1 ...,2089
1,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",address,SELECT T1.zip_code FROM zip_data AS T1 INNER J...,2097
2,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",address,SELECT SUM(T1.male_population) FROM zip_data A...,2092
3,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",address,SELECT COUNT(T1.zip_code) FROM zip_data AS T1 ...,2091
4,"CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT...",address,SELECT T1.zip_code FROM zip_data AS T1 INNER J...,2100

In [7]:
# Verify we dropped the example gold sql
df[df['ideal_assistant_response'] == example_gold_sql]

Empty DataFrame
Columns: [user_prompt, db_id, ideal_assistant_response, tokens]
Index: []

In [8]:
df.sort_values(by='tokens', ascending=False).head()

,user_prompt,db_id,ideal_assistant_response,tokens
2618,"AwardsMisc (name TEXT, ID TEXT, award TEXT, ye...",hockey,SELECT CAST(SUM(T2.height) AS REAL) / COUNT(*)...,3867
2603,"AwardsMisc (name TEXT, ID TEXT, award TEXT, ye...",hockey,SELECT SUM(CASE WHEN T1.year = 2006 THEN CAST(...,3861
2634,"AwardsMisc (name TEXT, ID TEXT, award TEXT, ye...",hockey,"SELECT T2.nameGiven, T2.lastName, T2.birthYear...",3855
2623,"AwardsMisc (name TEXT, ID TEXT, award TEXT, ye...",hockey,"SELECT DISTINCT T3.firstNHL - T1.year, T3.name...",3851
2563,"AwardsMisc (name TEXT, ID TEXT, award TEXT, ye...",hockey,SELECT DISTINCT T1.pos FROM Master AS T1 INNER...,3840

In [9]:
print(df.loc[5066]['user_prompt'])

awards_players (playerID TEXT, award TEXT, year INT, lgID TEXT, note TEXT, pos TEXT, FOREIGN KEY playerID REFERENCES players playerID);
INSERT INTO awards_players VALUES
('abdulka01', 'All-Defensive Second Team', 1969, 'NBA', NULL, NULL)
('abdulka01', 'All-NBA Second Team', 1969, 'NBA', NULL, 'C')
('abdulka01', 'Rookie of the Year', 1969, 'NBA', NULL, NULL)
('abdulka01', 'All-Defensive Second Team', 1970, 'NBA', NULL, NULL)
('abdulka01', 'All-NBA First Team', 1970, 'NBA', NULL, 'C');
coaches (coachID TEXT, year INT, tmID TEXT, lgID TEXT, stint INT, won INT, lost INT, post_wins INT, post_losses INT, FOREIGN KEY tmID, year REFERENCES teams tmID, year);
INSERT INTO coaches VALUES
('adelmri01', 1988, 'POR', 'NBA', 2, 14, 21, 0, 3)
('adelmri01', 1989, 'POR', 'NBA', 1, 59, 23, 12, 9)
('adelmri01', 1990, 'POR', 'NBA', 1, 63, 19, 9, 7)
('adelmri01', 1991, 'POR', 'NBA', 1, 57, 25, 13, 8)
('adelmri01', 1992, 'POR', 'NBA', 1, 51, 31, 1, 3);
draft (id INT, draftYear INT, draftRound INT, draftSelection INT, draftOverall INT, tmID TEXT, firstName TEXT, lastName TEXT, suffixName TEXT, playerID TEXT, draftFrom TEXT, lgID TEXT, FOREIGN KEY tmID, draftYear REFERENCES teams tmID, year);
INSERT INTO draft VALUES
(1, 1967, 0, 0, 0, 'ANA', 'Darrell', 'Hardy', NULL, 'hardyda01', 'Baylor', 'ABA')
(2, 1967, 0, 0, 0, 'ANA', 'Bob', 'Krulish', NULL, NULL, 'Pacific', 'ABA')
(3, 1967, 0, 0, 0, 'ANA', 'Bob', 'Lewis', NULL, 'lewisbo01', 'North Carolina', 'ABA')
(4, 1967, 0, 0, 0, 'ANA', 'Mike', 'Lynn', NULL, 'lynnmi01', 'UCLA', 'ABA')
(5, 1967, 0, 0, 0, 'ANA', 'Tom', 'Workman', NULL, 'workmto01', 'Seattle', 'ABA');
player_allstar (playerID TEXT, last_name TEXT, first_name TEXT, season_id INT, conference TEXT, league_id TEXT, games_played INT, minutes INT, points INT, o_rebounds INT, d_rebounds INT, rebounds INT, assists INT, steals INT, blocks INT, turnovers INT, personal_fouls INT, fg_attempted INT, fg_made INT, ft_attempted INT, ft_made INT, three_attempted INT, three_made INT, FOREIGN KEY playerID REFERENCES players playerID);
INSERT INTO player_allstar VALUES
('abdulka01', 'Abdul-Jabbar', 'Kareem', 1969, 'East', 'NBA', 1, 18, 10, NULL, NULL, 11, 4, NULL, NULL, NULL, NULL, 8, 4, 2, 2, NULL, NULL)
('abdulka01', 'Abdul-Jabbar', 'Kareem', 1970, 'West', 'NBA', 1, 30, 19, NULL, NULL, 14, 1, NULL, NULL, NULL, NULL, 16, 8, 4, 3, NULL, NULL)
('abdulka01', 'Abdul-Jabbar', 'Kareem', 1971, 'West', 'NBA', 1, 19, 12, NULL, NULL, 7, 2, NULL, NULL, NULL, NULL, 10, 5, 2, 2, NULL, NULL)
('abdulka01', 'Abdul-Jabbar', 'Kareem', 1972, 'West', 'NBA', 1, 98, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
('abdulka01', 'Abdul-Jabbar', 'Kareem', 1973, 'West', 'NBA', 1, 23, 14, NULL, NULL, 8, 6, NULL, NULL, NULL, NULL, 11, 7, 0, 0, NULL, NULL);
players (playerID TEXT, useFirst TEXT, firstName TEXT, middleName TEXT, lastName TEXT, nameGiven TEXT, fullGivenName TEXT, nameSuffix TEXT, nameNick TEXT, pos TEXT, firstseason INT, lastseason INT, height FLOAT, weight INT, college TEXT, collegeOther TEXT, birthDate DATE, birthCity TEXT, birthState TEXT, birthCountry TEXT, highSchool TEXT, hsCity TEXT, hsState TEXT, hsCountry TEXT, deathDate DATE, race TEXT);
INSERT INTO players VALUES
('abdelal01', 'Alaa', 'Alaa', NULL, 'Abdelnaby', NULL, NULL, NULL, NULL, 'F-C', 0, 0, 82.0, 240, 'Duke', NULL, '1968-06-24', 'Cairo', NULL, 'EGY', 'Bloomfield Senior', 'Bloomfield', 'NJ', 'USA', '0000-00-00', 'B')
('abdulka01', 'Kareem', 'Kareem', NULL, 'Abdul-Jabbar', NULL, 'Ferdinand Lewis Alcindor, Jr.', NULL, 'Lew, Cap', 'C', 0, 0, 85.0, 225, 'UCLA', NULL, '1947-04-16', 'New York', 'NY', 'USA', 'Power Memorial', 'New York', 'NY', 'USA', '0000-00-00', 'B')
('abdulma01', 'Mahdi', 'Mahdi', NULL, 'Abdul-Rahman', NULL, 'Walter Raphael Hazzard, Jr.', NULL, 'Walt', 'G', 0, 0, 74.0, 185, 'UCLA', 'Santa Monica City', '1942-04-15', 'Wilmington', 'DE', 'USA', 'Overbrook / Moton', 'Philadelphia / Easton', 'PA / MD', 'USA', '2011-11-18', 'B')
('abdulma02', 'Mahmoud', 'Mahmoud', NULL, 'Abdul-Rauf', NULL, 'Chris Wayne Jackson', NULL, NULL, 'G', 0, 0, 73.0, 162, 'Louisiana State', NULL, '1969-03-09', 'Gulfport', 'MS', 'USA', 'Gulfport', 'Gulfport', 'MS', 'USA', '0000-00-00', 'B')
('abdulta01', 'Tariq', 'Tariq', NULL, 'Abdul-Wahad', NULL, 'Olivier Michael Saint-Jean', NULL, NULL, 'G-F', 0, 0, 78.0, 223, 'San Jose State', 'Michigan', '1974-11-03', 'Maisons Alfort', NULL, 'FRA', 'Lycee Aristide Briand', 'Evreux', NULL, 'FRA', '0000-00-00', 'B');
teams (year INT, lgID TEXT, tmID TEXT, franchID TEXT, confID TEXT, divID TEXT, "rank" INT, confRank INT, playoff TEXT, name TEXT, o_fgm INT, o_ftm INT, o_pts INT, d_pts INT, homeWon INT, homeLost INT, awayWon INT, awayLost INT, won INT, lost INT, games INT, arena TEXT);
INSERT INTO teams VALUES
(1937, 'NBL', 'AFS', 'AFS', NULL, 'EA', 1, 0, 'CF', 'Akron Firestone Non-Skids', 249, 183, 681, 578, 8, 1, 5, 3, 14, 4, 18, NULL)
(1937, 'NBL', 'AGW', 'AGW', NULL, 'EA', 2, 0, 'WC', 'Akron Goodyear Wingfoots', 243, 159, 645, 498, 8, 1, 5, 4, 13, 5, 18, NULL)
(1937, 'NBL', 'BFB', 'BFB', NULL, 'EA', 4, 0, NULL, 'Buffalo Bisons', 108, 46, 262, 275, 2, 2, 1, 4, 3, 6, 9, NULL)
(1937, 'NBL', 'CNC', 'CNC', NULL, 'WE', 5, 0, NULL, 'Richmond King Clothiers/Cincinnati Comellos', 110, 42, 262, 338, 3, 1, 0, 5, 3, 7, 10, NULL)
(1937, 'NBL', 'COL', 'COL', NULL, 'EA', 6, 0, NULL, 'Columbus Athletic Supply', 109, 64, 282, 426, 1, 3, 0, 7, 1, 12, 13, NULL);
"awards_coaches" (id INT, year INT, coachID TEXT, award TEXT, lgID TEXT, note TEXT, FOREIGN KEY coachID, year REFERENCES coaches coachID, year);
INSERT INTO "awards_coaches" VALUES
(1, 1962, 'gallaha01', 'NBA Coach of the Year', 'NBA', NULL)
(2, 1963, 'hannual01', 'NBA Coach of the Year', 'NBA', NULL)
(3, 1964, 'auerbre01', 'NBA Coach of the Year', 'NBA', NULL)
(4, 1965, 'schaydo01', 'NBA Coach of the Year', 'NBA', NULL)
(5, 1966, 'kerrjo01', 'NBA Coach of the Year', 'NBA', NULL);
"players_teams" (id INT, playerID TEXT, year INT, stint INT, tmID TEXT, lgID TEXT, GP INT, GS INT, minutes INT, points INT, oRebounds INT, dRebounds INT, rebounds INT, assists INT, steals INT, blocks INT, turnovers INT, PF INT, fgAttempted INT, fgMade INT, ftAttempted INT, ftMade INT, threeAttempted INT, threeMade INT, PostGP INT, PostGS INT, PostMinutes INT, PostPoints INT, PostoRebounds INT, PostdRebounds INT, PostRebounds INT, PostAssists INT, PostSteals INT, PostBlocks INT, PostTurnovers INT, PostPF INT, PostfgAttempted INT, PostfgMade INT, PostftAttempted INT, PostftMade INT, PostthreeAttempted INT, PostthreeMade INT, note TEXT, FOREIGN KEY tmID, year REFERENCES teams tmID, year);
INSERT INTO "players_teams" VALUES
(1, 'abdelal01', 1990, 1, 'POR', 'NBA', 43, 0, 290, 135, 27, 62, 89, 12, 4, 12, 22, 39, 116, 55, 44, 25, 0, 0, 5, 0, 13, 4, 1, 2, 3, 0, 0, 0, 0, 0, 6, 2, 0, 0, 0, 0, NULL)
(2, 'abdelal01', 1991, 1, 'POR', 'NBA', 71, 0, 934, 432, 81, 179, 260, 30, 25, 17, 66, 132, 361, 178, 101, 76, 0, 0, 8, 0, 25, 12, 0, 4, 4, 2, 0, 0, 2, 4, 10, 5, 4, 2, 0, 0, NULL)
(3, 'abdelal01', 1992, 1, 'MIL', 'NBA', 12, 0, 159, 64, 12, 25, 37, 10, 6, 4, 0, 24, 56, 26, 16, 12, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL)
(4, 'abdelal01', 1992, 2, 'BOS', 'NBA', 63, 0, 1152, 514, 114, 186, 300, 17, 19, 22, 97, 165, 417, 219, 100, 76, 0, 0, 4, 0, 68, 22, 2, 11, 13, 1, 0, 1, 9, 7, 24, 11, 0, 0, 0, 0, NULL)
(5, 'abdelal01', 1993, 1, 'BOS', 'NBA', 13, 0, 159, 64, 12, 34, 46, 3, 2, 3, 17, 20, 55, 24, 25, 16, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, NULL);
"series_post" (id INT, year INT, round TEXT, series TEXT, tmIDWinner TEXT, lgIDWinner TEXT, tmIDLoser TEXT, lgIDLoser TEXT, W INT, L INT, FOREIGN KEY tmIDWinner, year REFERENCES teams tmID, year, FOREIGN KEY tmIDLoser, year REFERENCES teams tmID, year);
INSERT INTO "series_post" VALUES
(1, 1946, 'F', 'O', 'PHW', 'NBA', 'CHS', 'NBA', 4, 1)
(2, 1946, 'QF', 'M', 'NYK', 'NBA', 'CLR', 'NBA', 2, 1)
(3, 1946, 'QF', 'M', 'PHW', 'NBA', 'STB', 'NBA', 2, 1)
(4, 1946, 'SF', 'N', 'PHW', 'NBA', 'NYK', 'NBA', 2, 0)
(5, 1946, 'SF', 'N', 'CHS', 'NBA', 'WSC', 'NBA', 4, 2);
## The user has asked:
What is the difference in the average age of players when they are drafted in the ABA vs when they are drafted in the NBA between the years 1970 and 1970?
NOTE: ABA refers to lgID = 'ABA'; NBA refers to lgID = 'NBA'; between the years 1970 and 1970 refers to draftYear between 1970 and 1970; difference = subtract(avg(subtract(1970, year(birthDate)) where lgID = 'ABA'), avg(subtract(1970, year(birthDate)) where lgID = 'NBA'))

In [10]:
df['tokens'].sum() / 1000.0 * .008

132.351176

In [11]:
import json

file_name = "fine_tuning_bird_qna_take_two_training_data.jsonl"

with open(file_name, 'w') as outfile:
    for row in df.itertuples():
        json.dump({"messages": [{"role": "user", "content": row.user_prompt}, 
                                {"role": "assistant", "content": row.ideal_assistant_response}]}, outfile)
        outfile.write('\n')

In [12]:
with open(file_name, 'r', encoding='utf-8') as f:
    dataset = [json.loads(line) for line in f]

# Initial dataset stats
print("Num examples:", len(dataset))
print("First example:")
for message in dataset[0]["messages"]:
    print(message)

Num examples: 9424
First example:
{'role': 'user', 'content': 'CBSA (CBSA INT, CBSA_name TEXT, CBSA_type TEXT);\nINSERT INTO CBSA VALUES\n(10300, \'Adrian, MI\', \'Micro\')\n(10380, \'Aguadilla-Isabela, PR\', \'Metro\')\n(10420, \'Akron, OH\', \'Metro\')\n(10500, \'Albany, GA\', \'Metro\')\n(10580, \'Albany-Schenectady-Troy, NY\', \'Metro\');\nstate (abbreviation TEXT, name TEXT);\nINSERT INTO state VALUES\n(\'AA\', \'Armed Forces Americas\')\n(\'AE\', \'Armed Forces Europe\')\n(\'AK\', \'Alaska\')\n(\'AL\', \'Alabama\')\n(\'AP\', \'Armed Forces Pacific\');\ncongress (cognress_rep_id TEXT, first_name TEXT, last_name TEXT, CID TEXT, party TEXT, state TEXT, abbreviation TEXT, House TEXT, District INT, land_area FLOAT, FOREIGN KEY abbreviation REFERENCES state abbreviation);\nINSERT INTO congress VALUES\n(\'AK\', \'Young\', \'Don\', \'N00008091\', \'Republican\', \'Alaska\', \'AK\', \'House of Repsentatives\', NULL, 571951.26)\n(\'AK-S1\', \'Begich\', \'Mark\', \'N00009585\', \'Democrat\', \'Alaska\', \'AK\', \'Senate\', NULL, 570641.0)\n(\'AK-S2\', \'Murkowski\', \'Lisa\', \'N00033101\', \'Republican\', \'Alaska\', \'AK\', \'Senate\', NULL, 570641.0)\n(\'AL-1\', \'Byrne\', \'Bradley\', \'N00031938\', \'Republican\', \'Alabama\', \'AL\', \'House of Repsentatives\', 1, 6066.83)\n(\'AL-2\', \'Roby\', \'Martha\', \'N00031177\', \'Republican\', \'Alabama\', \'AL\', \'House of Repsentatives\', 2, 10141.63);\nzip_data (zip_code INT, city TEXT, state TEXT, multi_county TEXT, type TEXT, organization TEXT, time_zone TEXT, daylight_savings TEXT, latitude FLOAT, longitude FLOAT, elevation INT, state_fips INT, county_fips INT, region TEXT, division TEXT, population_2020 INT, population_2010 INT, households INT, avg_house_value INT, avg_income_per_household INT, persons_per_household FLOAT, white_population INT, black_population INT, hispanic_population INT, asian_population INT, american_indian_population INT, hawaiian_population INT, other_population INT, male_population INT, female_population INT, median_age FLOAT, male_median_age FLOAT, female_median_age FLOAT, residential_mailboxes INT, business_mailboxes INT, total_delivery_receptacles INT, businesses INT, "1st_quarter_payroll" INT, annual_payroll INT, employees INT, water_area FLOAT, land_area FLOAT, single_family_delivery_units INT, multi_family_delivery_units INT, total_beneficiaries INT, retired_workers INT, disabled_workers INT, parents_and_widowed INT, spouses INT, children INT, over_65 INT, monthly_benefits_all INT, monthly_benefits_retired_workers INT, monthly_benefits_widowed INT, CBSA INT, FOREIGN KEY state REFERENCES state abbreviation, FOREIGN KEY CBSA REFERENCES CBSA CBSA);\nINSERT INTO zip_data VALUES\n(501, \'Holtsville\', \'NY\', \'No\', \'Unique Post Office\', \'I R S Service Center\', \'Eastern\', \'Yes\', 40.817923, -73.045317, 25, 36, 103, \'Northeast\', \'Middle Atlantic\', 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0, 1, 1, 2, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 35620)\n(544, \'Holtsville\', \'NY\', \'No\', \'Unique Post Office\', \'Irs Service Center\', \'Eastern\', \'Yes\', 40.788827, -73.039405, 25, 36, 103, \'Northeast\', \'Middle Atlantic\', 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 35620)\n(601, \'Adjuntas\', \'PR\', \'No\', \'Post Office\', NULL, \'Atlantic\', \'No\', 18.196747, -66.736735, 0, 72, 1, NULL, NULL, 11737, 18570, 6525, 86200, 13092, 2.84, 17479, 663, 18486, 7, 113, 10, 558, 9078, 9492, 35.9, 34.5, 37.1, 4133, 221, 5173, 0, 0, 0, 0, 0.309, 64.348, 2419, 1264, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 38660)\n(602, \'Aguada\', \'PR\', \'No\', \'Post Office\', NULL, \'Atlantic\', \'No\', 18.352927, -67.177532, 0, 72, 3, NULL, NULL, 24263, 41520, 15002, 86300, 16358, 2.76, 36828, 2860, 41265, 42, 291, 32, 2634, 20396, 21124, 37.5, 36.6, 38.5, 8791, 519, 11302, 0, 0, 0, 0, 1.71, 30.621, 5473, 827, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10380)\n(603, \'Aguadilla\', \'PR\', \'No\', \'Post Office\', NULL, \'Atlantic\', \'No\', 18.458585, -67.129867, 0, 72, 5, NULL, NULL, 40361, 54689, 21161, 122400, 16603, 2.53, 46501, 5042, 53877, 135, 313, 35, 4177, 26597, 28092, 38.2, 36.6, 39.8, 15953, 764, 19186, 0, 0, 0, 0, 0.07, 31.617, 9621, 2947, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10380);\nalias (zip_code INT, alias TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);\nINSERT INTO alias VALUES\n(501, \'Holtsville\')\n(544, \'Holtsville\')\n(601, \'Adjuntas\')\n(602, \'Aguada\')\n(603, \'Aguadilla\');\narea_code (zip_code INT, area_code INT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);\nINSERT INTO area_code VALUES\n(501, 631)\n(544, 631)\n(601, 787)\n(601, 939)\n(602, 787);\navoid (zip_code INT, bad_alias TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code);\nINSERT INTO avoid VALUES\n(501, \'Internal Revenue Service\')\n(544, \'Internal Revenue Service\')\n(601, \'Colinas Del Gigante\')\n(601, \'Jard De Adjuntas\')\n(601, \'URB San Joaquin\');\ncountry (zip_code INT, county TEXT, state TEXT, FOREIGN KEY zip_code REFERENCES zip_data zip_code, FOREIGN KEY state REFERENCES state abbreviation);\nINSERT INTO country VALUES\n(501, \'SUFFOLK\', \'NY\')\n(544, \'SUFFOLK\', \'NY\')\n(601, \'ADJUNTAS\', \'PR\')\n(602, \'AGUADA\', \'PR\')\n(603, \'AGUADILLA\', \'PR\');\nzip_congress (zip_code INT, district TEXT, FOREIGN KEY district REFERENCES congress cognress_rep_id, FOREIGN KEY zip_code REFERENCES zip_data zip_code);\nINSERT INTO zip_congress VALUES\n(501, \'NY-1\')\n(601, \'PR\')\n(602, \'PR\')\n(603, \'PR\')\n(604, \'PR\');\n## The user has asked:\nWhat is the total number of households in Arecibo county?\nNOTE: "ARECIBO" is the county; total number of households refer to sum(households)'}
{'role': 'assistant', 'content': "SELECT SUM(T1.households) FROM zip_data AS T1 INNER JOIN country AS T2 ON T1.zip_code = T2.zip_code WHERE T2.county = 'ARECIBO'"}

In [13]:
from collections import defaultdict

# Format error checks
format_errors = defaultdict(int)

for ex in dataset:
    if not isinstance(ex, dict):
        format_errors["data_type"] += 1
        continue
        
    messages = ex.get("messages", None)
    if not messages:
        format_errors["missing_messages_list"] += 1
        continue
        
    for message in messages:
        if "role" not in message or "content" not in message:
            format_errors["message_missing_key"] += 1
        
        if any(k not in ("role", "content", "name", "function_call") for k in message):
            format_errors["message_unrecognized_key"] += 1
        
        if message.get("role", None) not in ("system", "user", "assistant", "function"):
            format_errors["unrecognized_role"] += 1
            
        content = message.get("content", None)
        function_call = message.get("function_call", None)
        
        if (not content and not function_call) or not isinstance(content, str):
            format_errors["missing_content"] += 1
    
    if not any(message.get("role", None) == "assistant" for message in messages):
        format_errors["example_missing_assistant_message"] += 1

if format_errors:
    print("Found errors:")
    for k, v in format_errors.items():
        print(f"{k}: {v}")
else:
    print("No errors found")

No errors found

In [14]:
def num_assistant_tokens_from_messages(messages):
    num_tokens = 0
    for message in messages:
        if message["role"] == "assistant":
            num_tokens += len(encoding.encode(message["content"]))
    return num_tokens

def print_distribution(values, name):
    print(f"\n#### Distribution of {name}:")
    print(f"min / max: {min(values)}, {max(values)}")
    print(f"mean / median: {np.mean(values)}, {np.median(values)}")
    print(f"p5 / p95: {np.quantile(values, 0.1)}, {np.quantile(values, 0.9)}")

In [15]:
import numpy as np

# Warnings and tokens counts
n_missing_system = 0
n_missing_user = 0
n_messages = []
convo_lens = []
assistant_message_lens = []

for ex in dataset:
    messages = ex["messages"]
    if not any(message["role"] == "system" for message in messages):
        n_missing_system += 1
    if not any(message["role"] == "user" for message in messages):
        n_missing_user += 1
    n_messages.append(len(messages))
    convo_lens.append(num_tokens_from_messages(messages))
    assistant_message_lens.append(num_assistant_tokens_from_messages(messages))
    
print("Num examples missing system message:", n_missing_system)
print("Num examples missing user message:", n_missing_user)
print_distribution(n_messages, "num_messages_per_example")
print_distribution(convo_lens, "num_total_tokens_per_example")
print_distribution(assistant_message_lens, "num_assistant_tokens_per_example")
n_too_long = sum(l > 4096 for l in convo_lens)
print(f"\n{n_too_long} examples may be over the 4096 token limit, they will be truncated during fine-tuning")

Num examples missing system message: 9424
Num examples missing user message: 0

#### Distribution of num_messages_per_example:
min / max: 2, 2
mean / median: 2.0, 2.0
p5 / p95: 2.0, 2.0

#### Distribution of num_total_tokens_per_example:
min / max: 256, 4015
mean / median: 1810.1644736842106, 1686.0
p5 / p95: 609.3000000000001, 3326.7000000000007

#### Distribution of num_assistant_tokens_per_example:
min / max: 4, 278
mean / median: 50.65757640067912, 49.0
p5 / p95: 18.0, 80.0

0 examples may be over the 4096 token limit, they will be truncated during fine-tuning

In [22]:
# Pricing and default n_epochs estimate
MAX_TOKENS_PER_EXAMPLE = 4096

TARGET_EPOCHS = 3
MIN_TARGET_EXAMPLES = 100
MAX_TARGET_EXAMPLES = 25000
MIN_DEFAULT_EPOCHS = 1
MAX_DEFAULT_EPOCHS = 25

n_epochs = TARGET_EPOCHS
n_train_examples = len(dataset)
if n_train_examples * TARGET_EPOCHS < MIN_TARGET_EXAMPLES:
    n_epochs = min(MAX_DEFAULT_EPOCHS, MIN_TARGET_EXAMPLES // n_train_examples)
elif n_train_examples * TARGET_EPOCHS > MAX_TARGET_EXAMPLES:
    n_epochs = max(MIN_DEFAULT_EPOCHS, MAX_TARGET_EXAMPLES // n_train_examples)

n_billing_tokens_in_dataset = sum(min(MAX_TOKENS_PER_EXAMPLE, length) for length in convo_lens)
print(f"Dataset has ~{n_billing_tokens_in_dataset} tokens that will be charged for during training")
print(f"By default, you'll train for {n_epochs} epochs on this dataset")
print(f"By default, you'll be charged for ~{n_epochs * n_billing_tokens_in_dataset} tokens")

PRICE_PER_1K_TOKENS = 0.008

print(f"This will cost ~${n_epochs * n_billing_tokens_in_dataset / 1000 * PRICE_PER_1K_TOKENS:.2f} to train")

Dataset has ~17058990 tokens that will be charged for during training
By default, you'll train for 2 epochs on this dataset
By default, you'll be charged for ~34117980 tokens
This will cost ~$272.94 to train

In [19]:
upload_response = openai.File.create(
  file=open(file_name, "rb"),
  purpose='fine-tune'
)
upload_response

<File file id=file-yt2tzTmOhKmbL4clWJ9ZmWAR at 0x14d770710> JSON: {
  "object": "file",
  "id": "file-yt2tzTmOhKmbL4clWJ9ZmWAR",
  "purpose": "fine-tune",
  "filename": "file",
  "bytes": 47915791,
  "created_at": 1698802653,
  "status": "processed",
  "status_details": null
}

In [20]:
file_id = upload_response.id
file_id

'file-yt2tzTmOhKmbL4clWJ9ZmWAR'

In [23]:
fine_tune_response = openai.FineTuningJob.create(training_file=file_id, model="gpt-3.5-turbo", suffix="bird_qna_take_two")
fine_tune_response

<FineTuningJob fine_tuning.job id=ftjob-EPDJqgOoHYfRBV1s727wPwIr at 0x1274d5d90> JSON: {
  "object": "fine_tuning.job",
  "id": "ftjob-EPDJqgOoHYfRBV1s727wPwIr",
  "model": "gpt-3.5-turbo-0613",
  "created_at": 1698802777,
  "finished_at": null,
  "fine_tuned_model": null,
  "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
  "result_files": [],
  "status": "validating_files",
  "validation_file": null,
  "training_file": "file-yt2tzTmOhKmbL4clWJ9ZmWAR",
  "hyperparameters": {
    "n_epochs": "auto"
  },
  "trained_tokens": null,
  "error": null
}

In [24]:
# Retrieve the state of a fine-tune
openai.FineTuningJob.retrieve("ftjob-EPDJqgOoHYfRBV1s727wPwIr")

<FineTuningJob fine_tuning.job id=ftjob-EPDJqgOoHYfRBV1s727wPwIr at 0x1274d7d10> JSON: {
  "object": "fine_tuning.job",
  "id": "ftjob-EPDJqgOoHYfRBV1s727wPwIr",
  "model": "gpt-3.5-turbo-0613",
  "created_at": 1698802777,
  "finished_at": null,
  "fine_tuned_model": null,
  "organization_id": "org-ePmgB4qVo14GgUKdUQci6IGz",
  "result_files": [],
  "status": "validating_files",
  "validation_file": null,
  "training_file": "file-yt2tzTmOhKmbL4clWJ9ZmWAR",
  "hyperparameters": {
    "n_epochs": "auto"
  },
  "trained_tokens": null,
  "error": null
}